@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "YekanBakh";
  src: url(./assets/fonts/yekan-bakh/YekanBakh-Regular.woff2);
  font-weight: 400;
}
@font-face {
  font-family: "YekanBakh";
  src: url(./assets/fonts/yekan-bakh/YekanBakh-SemiBold.woff2);
  font-weight: 600;
}
@font-face {
  font-family: "YekanBakh";
  src: url(./assets/fonts/yekan-bakh/YekanBakh-Bold.woff2);
  font-weight: 700;
}
@font-face {
  font-family: "YekanBakh";
  src: url(./assets/fonts/yekan-bakh/YekanBakh-Black.woff2);
  font-weight: 900;
}
@font-face {
  font-family: "Kalameh";
  src: url(./assets/fonts/kalameh/Kalameh-Regular.woff2);
  font-weight: 400;
}
@font-face {
  font-family: "Kalameh";
  src: url(./assets/fonts/kalameh/Kalameh-Bold.woff2);
  font-weight: 700;
}

* {
  font-family: "YekanBakh";
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
}
body {
  height: 100vh;
  background: #ffffff;
  background-repeat: no-repeat;
}
a {
  text-decoration: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.menu-item .active {
  background-color: #f5faff;
  color: #007bff;
  font-weight: bold;
}
